include _pmod_mixins.pug
footer
    +textwithtag("footer")
        p 2023 sudoker0 (QuanMCPC). Created on 07/16/2020, this website will live #[span.tc-red forever].
        details
            summary For licensing info
            div
                ul
                    li: p Source code of the website is licensed under the #[span.tc-blue MIT license]
                    li: p
                        | Images in the website are licensed under 
                        a(href='http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1', target='_blank', rel='license noopener noreferrer', style='display:inline-block;')
                            span.tc-green CC BY-SA 4.0
                            img(style='height:16px!important;margin-left:3px;vertical-align:text-bottom;', src='https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1')
                            img(style='height:16px!important;margin-left:3px;vertical-align:text-bottom;', src='https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1')
                            img(style='height:16px!important;margin-left:3px;vertical-align:text-bottom;', src='https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1')
                    li: p Materials that are under different license will be listed in the #[span.tc-red CREDITS] file.
        .label-container
            a.label-link(target='_blank', href='https://github.com/sudoker0/sudoker0.github.io')
                img.label(src='./website/image/label/source_on_github_optimized.svg', alt='Source on GitHub')
            img.label(src='./website/image/label/work_without_javascript_optimized.svg', alt='Work without JavaScript')

script(src="/website/script/script.js")
