meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

meta(property="og:type", content="website")
meta(property="og:site_name", content="Quan_MCPC's Website")
meta(property="og:image", content="/website/image/social_preview.png")
meta(property="og:image:alt", content="Social preview image")

meta(name="twitter:card", content="summary_large_image")
meta(name="theme-color", content="#a00000")
meta(name="keywords", content="sudoker0, QuanMCPC, Quan_MCPC")
meta(name="author", content="Quan_MCPC")
meta(name="robots", content="NOODP")

link(rel="shortcut icon", href="/website/image/logo/favicon.ico")
link(rel="apple-touch-icon", href="/website/image/logo/logo.png")
link(rel="stylesheet", href="/website/style/style.css")