html(lang='en')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property="og:type", content="website")
        meta(property="og:site_name", content="No 'Nutella' November Challange Tracker")
        meta(property="og:image:alt", content="nut")
        meta(property="og:url", content="/project/anti-nutella-challange/")
        meta(property="og:title", content="the best webiste you'll ever use")
        meta(property="og:description", content="use this to track the current progress of the NNN challange i guess")
        meta(property="twitter:card", content="summary_large_image")
        meta(property="theme-color", content="#ffffff")
        meta(property="og:image", content="/project/anti-nutella-challange/images/nutella.jpg")

        title No "Nutella" November Challange Tracker

        link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href="./style/style.css")
        script(src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js" defer)
        script(src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/utc.js" defer)
        script(src="./script/script.js" defer)

    body.dark_mode
        mixin progressbar(id, text_id)
            .progress_bar.challange_started(id=id)
                .text=text_id
                .indicator

        mixin error_screen(id, title, icon="./images/error.svg")
            .full_screen_error(id=id, data-hidden="true")
                .centered_content
                    .error_icon: img(src=icon, alt="Error icon")
                    .error_title: h1=title
                    .error_content
                        if block
                            block
                        else
                            p No error detail

        +error_screen("clock_not_correct_error", "Error!", "./images/clock.svg")
            p We've detected that the clock on the user's device is not correct from the actual time in your timezone. Please re-adjust your clock or re-adjust the timezone on your device!

        header
            h1 No "Nutella" November Challange Tracker

        main
            p To track the progress of people who have participated in this challenge, I've created this website where you can see the current status of the challenge, how much time is left, how much time is before the next one, etc.
            p (Note: Information like timezone or current time are pulled from the user's browser, so those info might not exactly match the actual info of the user's device)
            hr

            div.display_time
                p: b
                    span.reverse Status:
                    span.green.challange_started  Challange has started!
                    span.red.challange_not_started  Challange haven't started yet!

                p: b
                    span.reverse Client timezone:
                    span  $_timezone

                p.challange_started: b
                    span.reverse Time elapsed:
                p.challange_started $_elapsed

                p: b
                    span.reverse Time left:
                span.note.challange_started (before challange end)
                span.note.challange_not_started (before challange start next year)
                p.challange_started $_time_left
                p.challange_not_started $_time_left_before_begin

                p.challange_started: b
                    span.reverse Progress:
                +progressbar("time_left_pb", "$_time_left_percentage")

            hr

            p To toggle between Dark/Light mode, run this command in the console of the Developer Tools: `document.body.classList.toggle("dark_mode")`
        footer
            p Administered to the public by The Ministry of Random Thought for Behaviour Control, Health Improving and Something Something.
            p Copyright (C) 2022 QuanMCPC, licensed under the MIT license.
