::-webkit-scrollbar {
  background-color: rgb(58, 58, 58);
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-button { display: none; }
/* ::-webkit-scrollbar-track {} */
/* ::-webkit-scrollbar-track-piece {} */
::-webkit-scrollbar-thumb { background-color: rgb(190, 0, 0); }
::-webkit-scrollbar-thumb:hover { background-color: rgb(150, 0, 0); }
::-webkit-scrollbar-corner { background-color: rgb(29, 29, 29); }
::-webkit-resizer { background-color: rgb(29, 29, 29); }
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(/website/font/Raleway-Medium.ttf);
  font-display: fallback;
}
h1 {
  font-family: Raleway;
  font-weight: 500;
}
* {
  font-family: Raleway;
  font-weight: 500;
}
body {
  overflow-y: scroll;
}
button:hover { cursor: pointer; }
/* *:focus {
  outline-style: dashed;
  outline-width: 2px;
  outline-color: red;
} */