#accb {
    border: 2px solid black;
    width: calc(100% - 4px);
    display: grid;
    grid-template-areas: "left_ right_";
    grid-template-columns: 1fr 5fr;
    margin: 0;
    position: relative;
}
body { margin: 2px; }
#accbar {
    grid-area: right_-start;
    display: flex;
    justify-content: flex-end;
}
#accbar * {
    margin-left: 13px;
    margin-right: 13px;
}
.container {
    margin: 24px;
    border: 2px solid black;
}
.container * {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}
@media (max-width: 319px) {
    #screentoosmall { display: block; }
}
@media (min-width: 320px) {
    body { font-size: 0.75rem; }
    #accbar a { margin-left: 5px; margin-right: 5px; }
    #accb_small, #accb_small_ p { font-size: 1.5em }
    div.container * { max-width: 95% }
    #screentoosmall { display: none; }
}
@media (min-width: 482px) {
    body { font-size: 0.75rem; }
    #accbar a { margin-left: 7px; margin-right: 7px; }
    #accb_small, #accb_small_ p { font-size: 1.4em }
    div.container * { max-width: 95% }
}
@media (min-width: 640px) {
    body { font-size: 0.81rem; }
    #accbar a { margin-left: 9px; margin-right: 9px; }
    #accb_small, #accb_small_ p { font-size: 1.3em }
    div.container * { max-width: 80% }
}
@media (min-width: 960px) {
    body { font-size: 1rem; }
    #accbar a { margin-left: 11px; margin-right: 11px; }
    #accb_small, #accb_small_ p { font-size: 1.2em }
    div.container * { max-width: 65% }
}
@media (min-width: 1100px) {
    body { font-size: 1rem; }
    #accbar a { margin-left: 13px; margin-right: 13px; }
    #accb_small, #accb_small_ p { font-size: 1.1em }
    div.container * { max-width: 50% }
}
#noscript_overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 50;
    color: rgb(0, 0, 0);
}
#noscript_overlay * {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
}
#screentoosmall {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    cursor: not-allowed;
    background-color: white;
}