html(lang="en")
    head
        include template/_head_metadata.pug

        meta(property="og:url", content="/contacts.html")
        meta(property="og:title", content="QuanMCPC.contacts()")
        meta(property="og:description", content="All information about my contact info is and will only be here.")
        meta(name="description", content="All information about my contact info is and will only be here.")

        link(rel="stylesheet", href="/website/style/contacts_page/contacts.css")
        script(src="/website/script/contacts_page/contacts.js" defer)
        title QuanMCPC.contacts()

    body(data-js="false")
        include template/_preload.pug
        include template/_mixins.pug
        include template/_header.pug
        mixin social_item(title, image_link, alt)
            .social_item
                .social_item_image
                    img(src=image_link, alt=alt)
                .social_item_text
                    h2.sit_name=title
                    if block
                        block
                    else
                        p INTERNAL ERROR: Please contact developer

        main
            include template/_noscript.pug
            section#contact.nost: +textwithtag("contacts")
                h1 Contact (Or Social link?) Info
                hr
                +social_item("GitHub", "./website/image/contact_page/github.svg", "GitHub Logo")
                    p This is #[span.tc-red where I put all of my project] into (like my website, games, programs, etc.).
                    p My GitHub account: #[a(target="_blank" href="https://github.com/QuanMCPC") @QuanMCPC]
                +social_item("GitLab", "./website/image/contact_page/gitlab.svg", "GitLab Logo")
                    p This is #[span.tc-purple where I might put some project] that I think would be #[span.tc-cyan better to host on GitLab] instead of GitHub.
                    p My GitLab account: #[a(target="_blank" href="https://gitlab.com/QuanMCPC") @QuanMCPC]
                +social_item("Discord", "./website/image/contact_page/discord.svg", "Discord Logo")
                    p This is the #[span.tc-red social platform that I use the most], where #[span.tc-cyan most of my (international) friends are on] (I might not accept any friend requests due to security and privacy reason, so sorry).
                    p My Discord account: #[a(target="_blank" href="https://discord.com/users/763377551963717653") QuanMCPC#4770]
                +social_item("Steam", "./website/image/contact_page/steam.svg", "Steam Logo")
                    p This is #[span.tc-purple what I use to play games] I downloaded (and just like a real gamer, I would buy a game, play it for a few days, and then feel bored even though I just spend a bunch of money to purchase the game).
                    p My Steam account: #[a(target="_blank" href="https://steamcommunity.com/id/quanmcpc/") QuanMCPC]
                +social_item("itch", "./website/image/contact_page/itchio.svg", "Itch.io Logo")
                    p This is #[span.tc-red where I upload my games]. Sometimes it's bad, and sometimes it's a bit bad. And how good it is depends on my skills and how much determination I have.
                    p My itch.io account: #[a(target="_blank" href="https://quanmcpc.itch.io/") QuanMCPC.itch.io]
                +social_item("PlanetMinecraft", "./website/image/contact_page/planet_minecraft.svg", "PlanetMinecraft Logo")
                    p This is #[span.tc-purple where I would put my Minecraft Build] (#[span.tc-cyan which mostly consist of Redstone Contraption]) so that other people could download.
                    p My PlanetMinecraft profile: #[a(target="_blank" href="https://www.planetminecraft.com/member/quan_mcpc/") @Quan_MCPC]
                +social_item("Twitter", "./website/image/contact_page/twitter.svg", "Twitter Logo")
                    p My #[span.tc-red second social platform that I barely use], so pls follow me, uh like my story, retweet, #[del sell drug], uhh. whatever
                    p My Twitter profile: #[a(target="_blank" href="https://twitter.com/QuanMCPC") @QuanMCPC]
                +social_item("Email", "./website/image/contact_page/email.svg", "Email Logo")
                    p If you prefer email over social network, you can #[span.tc-purple send an email to my mailbox] (Note that I don't check my email very often so a response from me might takes several business days to weeks)
                    p My Mailbox: #[a(href="mailto:aF58lh@gmail.com") aF58lh@gmail.com] (Sorry I don't have an email form for you)
                    details
                        summary Or if you want to be secure, here's my mailbox's PGP/GPG key:
                        p (Updated: New key that use ed25519 instead of rsa4096)
                        textarea(rows="10", style="width: 100%; resize: vertical;", readonly)
                            | -----BEGIN PGP PUBLIC KEY BLOCK-----
                            |
                            | mDMEY3I2/xYJKwYBBAHaRw8BAQdAphGJyma0APeInDauKfWI7VUHMbMhnZ5goAHa
                            | OFFP+E+0JEthenlteXIgRGFueWxlbmtvIDxhRjU4bGhAZ21haWwuY29tPoiTBBMW
                            | CgA7FiEEtm8aOVhXLNeYL2Xvol5m8iXGEAkFAmNyNv8CGwMFCwkIBwICIgIGFQoJ
                            | CAsCBBYCAwECHgcCF4AACgkQol5m8iXGEAkJ5QEA1sMgGki2oa/HgWPPp8CTjpKT
                            | 173fHieW13ThGiVdFmwBAO4eis5QhrYGyfEEXmWe8H0KG5AmfVrVgvmKjZ/s5J0L
                            | uDgEY3I2/xIKKwYBBAGXVQEFAQEHQO7pzHcy02nA/+Z+q6acNjDrT/97xWiiXCot
                            | ILDbrKsrAwEIB4h4BBgWCgAgFiEEtm8aOVhXLNeYL2Xvol5m8iXGEAkFAmNyNv8C
                            | GwwACgkQol5m8iXGEAkUSwEAzl2plE9SA2neSEh5ORRN8XDTdkYiVzDkMf88AVUC
                            | lb0BAOXGeuGIjtVbGu0HiQ1isI8X7XYAh3XWKvglI8NtjLAM
                            | =SCby
                            | -----END PGP PUBLIC KEY BLOCK-----

        include template/_footer.pug
