html(lang="en")
    head
        include template/_pmod_head_metadata.pug
        +og_generator("sudoker0.home()", "Homepage of the website", "/home.html")

        link(rel="stylesheet", href="/website/style/home_page/home.css")
        script(src="/website/script/home_page/home.js" defer)

    body(data-js="false")
        include template/_pmod_preload.pug
        include template/_pmod_mixins.pug
        include template/_pmod_header.pug
        main
            include template/_pmod_noscript.pug

            section#home.st-leftright: div
                .left: +textwithtag("intro")
                    h1 Hello! I'm Quan. I'm a self-taught #[span.tc-red programmer], and a professional #[span.tc-green dumbass].
                    h2 Scroll down to know how a dumbass #[span.tc-blue eat, code, sleep and repeat].
                .right
                    figure
                        img#building_block(src='./website/image/home_page/building_block_of_internet.svg' alt='The Building Block of The Internet')
                        figcaption#building_block_caption The Building Block Of The Internet

            section#bio.st-rightleft: div
                .left: +textwithtag("about")
                    h1 About Me
                    hr
                    p I'm a #[span.tc-blue web developer] based in Vietnam, specializing in #[span.tc-blue front-end development] but also skilled in #[span.tc-green back-end development]. My skills extend to creating websites, blog sites, APIs, and browser-based applications.
                    p I also have #[span.tc-cyan knowledge] in #[span.tc-purple game development] using Unity and Godot, building #[span.tc-purple GUI apps] using Tauri, Electron, and C#, as well as making #[span.tc-purple mobile apps] with Flutter. Although these areas are not my current primary focus, I have hands-on experience with them.
                    p Committed to freedom, all my projects are #[span.tc-red Free and Open-Source]. Feel free to contribute to the repository, utilize the code elsewhere, or adapt it for your needs.
                .right
                    div
                        #title: p me.metadata.json
                        code
                            p {
                            p     #[span.red "name"]: #[span.green "Quan"],
                            p     #[span.red "current_location"]: #[span.green "Vietnam"],
                            p     #[span.red "main_focus"]: [
                            p         #[span.green "frontend"],
                            p         #[span.green "backend"]
                            p     ]
                            p     #[span.red "age"]: #[span.green "(REDACTED)"],
                            p     #[span.red "philosophy"]: [
                            p         #[span.green "Free and Open-Source"],
                            p         #[span.green "Respect Privacy"]
                            p     ],
                            p     #[span.red "is_available_for_work"]: #[span.green false],
                            p     #[span.red "meme"]: #[span.green "yes"]
                            p }

            section#programming.st-leftright: div
                .left: +textwithtag("programming")
                    h1 Programming Skills
                    hr
                    p With #[span.tc-red four years] of programming experience, I've explored and used numerous languages for #[span.tc-purple multiple different purposes] such as game development, software engineering, and web design.
                .right
                    table
                        thead
                            tr
                                th Level of skills
                                th.end Languages
                        tbody
                            tr
                                td Excellent
                                td.end
                                    img(src='https://img.shields.io/badge/HTML-E34F26?style=for-the-badge&logo=html5&logoColor=white' alt='HTML')
                                    img(src='https://img.shields.io/badge/JS-EFD81D?style=for-the-badge&logo=javascript&logoColor=000000' alt='JS')
                            tr
                                td Good
                                td.end
                                    img(src='https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white' alt='Python')
                                    img(src='https://img.shields.io/badge/C%2B%2B-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=white' alt='C++')
                            tr
                                td Ok/Medium
                                td.end
                                    img(src='https://img.shields.io/badge/Kotlin-7F52FF?style=for-the-badge&logo=Kotlin&logoColor=white' alt='Kotlin')
                                    img(src='https://img.shields.io/badge/PHP-777BB4?style=for-the-badge&logo=php&logoColor=white' alt='PHP')
                            tr
                                td Not good
                                td.end
                                    img(src='https://img.shields.io/badge/C-A8B9CC?style=for-the-badge&logo=c&logoColor=white' alt='C')
                            tr
                                td ḧ̸̡̪́̋e̶̠̠̽ĺ̷̯ͅp̶̭̚ ̴̡̐̃m̵̺̪̕e̷̡̓̐
                                td.end
                                    img(src='https://img.shields.io/badge/Java-007396?style=for-the-badge&logo=java&logoColor=white' alt='Java')

            section#website.nost: +textwithtag("website")
                h1 Website
                hr
                p Here is a #[span.tc-purple list of websites] that I've made. Some are currently #[span.tc-red in development], while others are #[span.tc-red archived] for historical purposes.
                div
                    +collapsecontent("Code and Random Stuff Archive")
                        p Here is the #[a(target="_blank" href="https://sudoker0.github.io/WebsiteArchive/") link to the website]
                        p Description: This is where I put random stuff like random project, unused code, etc.
                    +collapsecontent("My Carrd's site")
                        p Here is the #[a(target="_blank" href="https://sudoker0.carrd.co/") link to the website]
                        p Description: A shortened version of my website.
                    +collapsecontent("My Blogsite")
                        p Here is the #[a(target="_blank" href="https://sudoker0.github.io/Blogsite") link to the website]
                        p Description: This is my personal blog where I will be posting about stuff.
                    +collapsecontent("\"First Commit\"")
                        p Here is the #[a(target="_blank" href="https://quan215.github.io") link to the website]
                        p Description: The first ever version of this website so you can see how much I've improved over the last (insert_current_year) - 2020 + "years".

            section#gift.st-rightleft: div
                .left: +textwithtag("gift good-item=\"fal- true\"")
                    h1 Thank You
                    hr
                    p And that's it. I don't know if you have visited everything on my website. But anyway, #[span.tc-purple thanks for taking a look at my website]. To show my appreciation, here's #[span.tc-green a gift] for you. I promise you won't #[span.tc-red regret] it :)
                .right
                    #noscript_object: p Sorry, but we can't give you the gift because it requires JavaScript to work, which you have turned off.
                    #gift_flashbang
                    #gift_display
                        #gift_thatsmygift_dialog: p $_message
                        p Congratulation! You got:
                        .gift_item#gift_item_1
                            img(src="./website/image/home_page/gift_100_bill.svg", alt="$100 bill")
                            p $100 bill
                        .gift_item#gift_item_2
                            img(src="./website/image/home_page/gift_flappy_bird.svg", alt="Flapping bird")
                            p A flapping bird
                        .gift_item#gift_item_3
                            img(src="./website/image/home_page/gift_sublime_text_license_key.svg", alt="Sublime Text License Key")
                            p Sublime Text License key
                        .gift_item#gift_item_4
                            p Nothing
                    #claim_gift_div
                        button#claim_gift(aria-label="The Present")
                            img(src="./website/image/home_page/gift.svg", alt="The Present")

        include template/_pmod_footer.pug
