html(lang="en")
    head
        include template/_head_metadata.pug

        meta(property="og:url", content="/home.html")
        meta(property="og:title", content="QuanMCPC.home()")
        meta(property="og:description", content="This is the main page of my website, which contain an intro, about me section, projects, etc.")
        meta(name="description", content="This is the main page of my website, where you can see my bio, all of my project and my social links.")

        link(rel="stylesheet", href="/website/style/home_page/home.css")
        script(src="/website/script/home_page/home.js" defer)
        title QuanMCPC.home()

    body(data-js="false")
        include template/_preload.pug
        include template/_mixins.pug
        include template/_header.pug
        main
            include template/_noscript.pug

            section#home.st-leftright: div
                .left: +textwithtag("intro")
                    h1 Hello! I'm Quan. I'm a self-taught #[span.tc-red programmer], and a professional #[span.tc-green dumbass].
                    h2 Scroll down to know how a dumbass #[span.tc-blue eat, code, sleep and repeat].
                .right
                    figure
                        img#building_block(src='./website/image/home_page/building_block_of_internet.svg' alt='The Building Block of The Internet')
                        figcaption#building_block_caption The Building Block Of The Internet

            section#bio.st-rightleft: div
                .left: +textwithtag("about")
                    h1 About Me
                    hr
                    p I'm a #[span.tc-blue web developer] and an #[span.tc-blue average programmer] living in #[span.tc-red Vietnam]. I mainly focus on #[span.tc-green front-end development] but can also work with #[span.tc-green back-end development], like my website, blog site, API, or programs that run on browsers.
                    p That said, I also have #[span.tc-cyan experience] in #[span.tc-purple game-making] (Unity, Godot), #[span.tc-purple GUI apps] (Tauri, Electron, C#), and #[span.tc-purple mobile apps] (Flutter). However, it's not my main focus right now.
                    p Since I believe in freedom, all my projects are #[span.tc-red Free and Open-Source], so you can contribute to the repository, use it somewhere else, or do whatever you want with it.
                .right
                    div
                        #title: p me.metadata.json
                        code
                            p {
                            p     #[span.red "name"]: #[span.green "Quan"],
                            p     #[span.red "current_location"]: #[span.green "Vietnam"],
                            p     #[span.red "main_focus"]: [
                            p         #[span.green "frontend"],
                            p         #[span.green "backend"]
                            p     ]
                            p     #[span.red "age"]: #[span.green "(REDACTED)"],
                            p     #[span.red "philosophy"]: [
                            p         #[span.green "Free and Open-Source"],
                            p         #[span.green "Respect Privacy"]
                            p     ],
                            p     #[span.red "is_available_for_work"]: #[span.green false]
                            p }

            section#programming.st-leftright: div
                .left: +textwithtag("programming")
                    h1 Programming Skills
                    hr
                    p As someone who has been programming #[span.tc-red for three years], I've tried and used a lot of different languages, all with #[span.tc-purple various purposes] like making games, software, website, etc. So, #[span.tc-blue to show how good] I'm at those languages, I've created a table that shows exactly that.
                .right
                    table
                        thead
                            tr
                                th Rating
                                th.end Languages
                        tbody
                            tr
                                td Excellent
                                td.end
                                    img(src='https://img.shields.io/badge/HTML-E34F26?style=for-the-badge&logo=html5&logoColor=white' alt='HTML')
                                    img(src='https://img.shields.io/badge/JS-EFD81D?style=for-the-badge&logo=javascript&logoColor=000000' alt='JS')
                            tr
                                td Good
                                td.end
                                    img(src='https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white' alt='Python')
                                    img(src='https://img.shields.io/badge/CSS-1572B6?style=for-the-badge&logo=css3&logoColor=white' alt='CSS')
                                    img(src='https://img.shields.io/badge/C%23-239120?style=for-the-badge&logo=c+sharp&logoColor=white' alt='C#')
                                    img(src='https://img.shields.io/badge/Kotlin-7F52FF?style=for-the-badge&logo=Kotlin&logoColor=white' alt='Kotlin')
                            tr
                                td Ok/Medium
                                td.end
                                    img(src='https://img.shields.io/badge/Java-007396?style=for-the-badge&logo=java&logoColor=white' alt='Java')
                                    img(src='https://img.shields.io/badge/PHP-777BB4?style=for-the-badge&logo=php&logoColor=white' alt='PHP')
                                    img(src='https://img.shields.io/badge/PowerShell-5391FE?style=for-the-badge&logo=powershell&logoColor=white' alt='PowerShell')
                                    img(src='https://img.shields.io/badge/C%2B%2B-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=white' alt='C++')
                                    img(src='https://img.shields.io/badge/Godot-478CBF?style=for-the-badge&logo=Godot+Engine&logoColor=FFFFFF' alt='Godot')
                            tr
                                td Poor
                                td.end
                                    img(src='https://img.shields.io/badge/C-A8B9CC?style=for-the-badge&logo=c&logoColor=white' alt='C')
                            tr
                                td Uhh what's this
                                td.end
                                    img(src='https://img.shields.io/badge/Assembly-FFFFFF?style=for-the-badge' alt='Assembly')

            section#project.nost: +textwithtag("project")
                h1 Projects
                hr
                p Here's a #[span.tc-purple list of projects] or stuff that I've created. Most of them are #[span.tc-red dead], but not all of them. So check them out!
                div
                    +collapsecontent("Web Applications")
                        +collapsecontent("Guess The GIF")
                            p Here is the #[a(target="_blank" href="/project/guess-the-gif/index.html") link to view the project]
                            p Description: A game about guessing GIF (or JIF i guess)

                        +collapsecontent("No \"Nutella\" November Challenge Tracker")
                            p Here is the #[a(target="_blank" href="/project/anti-nutella-challange/index.html") link to view the project]
                            p Description: A progress tracker for the "November" Challenge
                        +collapsecontent("Flappy Bird Clone")
                            p Here is the #[a(target="_blank" href="/project/flappy_bird_clone/index.html") link to view the project]
                            p Description: A basic prototype of the flappy bird clone that I made.
                        +collapsecontent("INBOSH (It has No name But it's Online SHell)")
                            p Here is the #[a(target="_blank" href="/project/INBOSH/INBOSH.html") link to view the project]
                            p Description: A working shell inside a browser, that can only run function and has some bug.
                        +collapsecontent("Demo for a panorama background")
                            p Here is the #[a(target="_blank" href="/project/panorama/index.html") link to view the project]
                            p Description: A demo for a panorama background that is fully written in JS (no plugin used).
                        +collapsecontent("SOOPE (Simple and Open-Source Online Picture Editor)")
                            p Here is the #[a(target="_blank" href="/project/soope.html") link to view the project]
                            p Description: A fully functional image editor inside browser (It even has dark mode too!).
                        +collapsecontent("WCOS (Web Console OS)")
                            p Here is the #[a(target="_blank" href="/project/MSDOS.html") link to view the project]
                            p Description: My second attempt to create a shell (which is better then the previous attempt, but still, it's pretty bad).
                        +collapsecontent("WTOS (Web Terminal OS; Also know as: Console)")
                            p Here is the #[a(target="_blank" href="/project/console.html") link to view the project]
                            p Description: My first attempt to create a shell (which is pretty bad).
                        +collapsecontent("Guess The Number Game")
                            p Here is the #[a(target="_blank" href="/project/numberguessgame.html") link to view the project]
                            p Description: Pretty simple: Just Guess The Number.
                        +collapsecontent("Simple Captcha")
                            p Here is the #[a(target="_blank" href="/project/captcha.html") link to view the project]
                            p Description: Something I make for something related to AI idk.
                        +collapsecontent("Vigenère Encoder and Decoder")
                            p Here is the #[a(target="_blank" href="/project/Vigenere_Cipher.html") link to view the project]
                            p Description: A simple Vigenère Encoder and Decoder.

                    +collapsecontent("Native (Or run on the user computer) Applications")
                        +collapsecontent("Get Discord Message as JSON")
                            p Here is the #[a(target="_blank" href="https://github.com/QuanMCPC/Get_Discord_MSG") link to the source code]
                            p Description: A NodeJS project to get the chat message of any channels in any server/person as JSON data.
                        +collapsecontent("GTPL (Guess The Programming Language)")
                            p Here is the #[a(target="_blank" href="https://github.com/QuanMCPC/QuanMCPC.github.io/blob/master/project/gtpl.py") link to the source code]
                            p Description: A simple game written in Python and it's text-based where you have to guess the programming language of a piece of code.
                        +collapsecontent("MyFirstGame")
                            p Here is the #[a(target="_blank" href="https://drive.google.com/u/0/uc?id=1sj2Uin_mRP0ipujgeWyR7B81frscRykn&export=download") link to all version as an ISO file]
                            p Description: My very first game created in Unity where you eat chicken to get points and eat bomb to lose point and get shoot up to the sky.
                        +collapsecontent("Guess The Number Game")
                            p Here is the #[a(target="_blank" href="https://github.com/QuanMCPC/NumberGuessingGame/") link to the source code]
                            p Description: My second game written in C# where you guess a number with an Impossible Mode.
                        +collapsecontent("Windows Forms App 2.0 Unofficial")
                            p Here is the #[a(target="_blank" href="https://github.com/QuanMCPC/Windows-Forms-App-2.0-Unofficial") link to the source code]
                            p Description: A template for a more modern build-in Windows Forms.
                        +collapsecontent("EDIT (Edit Document In Terminal)")
                            p Here is the #[a(target="_blank" href="https://github.com/QuanMCPC/Edit") link to the source code]
                            p Description: A really ~OK~ text editor made with Electron with features like Auto Update.

                    +collapsecontent("Minecraft Builds")
                        +collapsecontent("8-bit Decoder")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/8-bit-decoder-in-minecraft/") link to the map on PM]
                            p Description: Convert binary to character from A to Z, 0 to 9 in ASCII.
                        +collapsecontent("Compact Calculator (1.15.2)")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/compact-calculator-1-15-2/") link to the map on PM]
                            p Description: A fully working calculator that can do basic calculation in Minecraft using command block.
                        +collapsecontent("The Longest Useless Machine in Minecraft (v1.0)")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/the-longest-useless-machine-in-minecraft-version-1-0/") link to the map on PM]
                            p Description: A redstone contraption that is pretty useless.
                        +collapsecontent("The Longest Useless Machine in Minecraft (v1.2)")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/the-longest-useless-machine-in-minecraft-version-1-1/") link to the map on PM]
                            p Description: An upgraded version of the 1.0 version.
                        +collapsecontent("Printer 1.16")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/printer-1-16/") link to the map on PM]
                            p Description: A printer that can print stuff out using concrete instead of paper.
                        +collapsecontent("Security Vault 2.0")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/security-vault-2-0/") link to the map on PM]
                            p Description: A very large vault to store and hide valuables.

                    +collapsecontent("Miscellaneous Project")
                        +collapsecontent("NoHistory - A Firefox Extension")
                            p Here is the #[a(target="_blank" href="https://github.com/QuanMCPC/NoHistory/") link to the source code]
                            p And here is the #[a(target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/nohistory/") link to the extension]
                            p Description: An extension for Firefox to prevent web pages from getting saved from history without opening a private window.

            section#website.nost: +textwithtag("website")
                h1 Website
                hr
                p And here is a #[span.tc-purple list of websites] that I own. All of this is run by me and is official. Some are currently #[span.tc-red active], while others are #[span.tc-red archived] for historical purposes.
                div
                    +collapsecontent("Code and Random Stuff Archive")
                        p Here is the #[a(target="_blank" href="https://quanmcpc.github.io/WebsiteArchive/") link to the website]
                        p Description: This is where I put random stuff like random project, unused code, etc.
                    +collapsecontent("My Carrd's site")
                        p Here is the #[a(target="_blank" href="https://quanmcpc.carrd.co/") link to the website]
                        p Description: A shortened version of my website.
                    +collapsecontent("My Blogsite")
                        p Here is the #[a(target="_blank" href="https://quanmcpc.github.io/Blogsite") link to the website]
                        p Description: This is my personal blog where I will be posting about stuff.
                    +collapsecontent("\"First Commit\"")
                        p Here is the #[a(target="_blank" href="https://quan215.github.io") link to the website]
                        p Description: The first ever version of this website so you can see how much I've improved over the last (insert_current_year) - 2020 + "years".

            section#gift.st-rightleft: div
                .left: +textwithtag("gift good-item=\"fal- true\"")
                    h1 Thank You
                    hr
                    p I don't know if you have visited everything on my website, only some of it, or just going by. But anyway, #[span.tc-purple thanks for visiting my website]. And to show off my appreciation, here's #[span.tc-green a gift] for you. I promise you won't #[span.tc-red regret] it :)
                .right
                    #noscript_object: p Error: We can't give you the gift because it requires JavaScript to work, which you have turned off.
                    #gift_flashbang
                    #gift_display
                        #gift_thatsmygift_dialog: p $_message
                        p Congratulation! You got:
                        .gift_item#gift_item_1
                            img(src="./website/image/home_page/gift_100_bill.svg", alt="$100 bill")
                            p $100 bill
                        .gift_item#gift_item_2
                            img(src="./website/image/home_page/gift_flappy_bird.svg", alt="Flapping bird")
                            p A flapping bird
                        .gift_item#gift_item_3
                            img(src="./website/image/home_page/gift_sublime_text_license_key.svg", alt="Sublime Text License Key")
                            p Sublime Text License key
                        .gift_item#gift_item_4
                            p Nothing
                    #claim_gift_div
                        button#claim_gift(aria-label="The Present")
                            img(src="./website/image/home_page/gift.svg", alt="The Present")

        include template/_footer.pug
