html(lang="en")
    head
        include template/_head_metadata.pug

        meta(property="og:url", content="/home.html")
        meta(property="og:title", content="QuanMCPC.home()")
        meta(property="og:description", content="This is the main page of my website, which contain an intro, about me section, projects, etc.")
        meta(name="description", content="This is the main page of my website, where you can see my bio, all of my project and my social links.")
        link(rel="stylesheet", href="/website/style/home_page/home.css")
        title QuanMCPC.home()

    body
        - var count_diff = 0
        mixin collapsecontent(header)
            - count_diff++;
            input.collapsible_cb(id="cb" + count_diff, type="checkbox", name="cb" + count_diff)
            label.collapsible(for="cb" + count_diff)
                span=header
                div.indicator(aria-hidden="true")
            div.collapsiblecontent
                if block
                    block
                else
                    p INTERNAL ERROR: Please contact developer

        include template/_header.pug
        main
            include template/_noscript.pug

            noscript
                style.
                    section#gift div.textwithtag > div div#claim_gift_div {
                        display: none;
                    }

            section#home.st-leftright
                div
                    .left.textwithtag
                        span.otag(aria-hidden="true") intro
                        div
                            h1 Hello! I'm Quan. I'm a self-taught <span class="tc-red">programmer</span>, and a professional <span class="tc-green">dumbass</span>.
                            h2 Scroll down to know how a dumbass <span class="tc-blue">eat, code, sleep and repeat</span>.
                        span.ctag(aria-hidden="true") intro
                    .right
                        figure
                            img(src='./website/image/home_page/building_block_of_internet.svg' alt='The Building Block of The Internet')
                            figcaption The Building Block Of The Internet

            section#bio.st-rightleft
                div
                    .left.textwithtag
                        span.otag(aria-hidden="true") about censor-level="40%"
                        div
                            h1 About Me
                            hr
                            p I'm a [redacted] years old web developer and programmer currently living in Vietnam. I've created many projects in the past as a way to train myself in how to program. And while I'm continuing to develop new projects (but slowly), now I focus on front-end programming, with things like my website, my blog site, or programs that run on browsers.
                            p Since I'm currently a junior programmer, all of my projects are Free and Open-Source, so you can either contribute to the repository, use it somewhere else, or do whatever you want with it. And it will never collect your data. I promise.
                        span.ctag(aria-hidden="true") about
                    .right
                        div
                            #title
                                p my_info.json
                            code
                                p {
                                p     <span class="red">"name"</span>: <span class="green">"Quan"</span>,
                                p     <span class="red">"current_location"</span>: <span class="green">"Vietnam"</span>,
                                p     <span class="red">"age"</span>: <span class="green">"[REDACTED]"</span>,
                                p     <span class="red">"philosophy"</span>: [
                                p         <span class="green">"Free and Open-Source"</span>,
                                p         <span class="green">"Respect Privacy"</span>,
                                p     ],
                                p     <span class="red">"is_available_for_work"</span>: <span class="green">false</span>,
                                p }

            section#programming.st-leftright
                div
                    .left.textwithtag
                        span.otag(aria-hidden="true") programming
                        div
                            h1 Programming Skills
                            hr
                            p As someone who has been programming for three years, I've tried and used a lot of different languages, all with various purposes like making games, software, website, etc. So, to show how good I'm at those languages, I've created a table that shows exactly that.
                        span.ctag(aria-hidden="true") programming
                    .right
                        table.left
                            thead
                                tr
                                    th Rating
                                    th.end Languages
                            tbody
                                tr
                                    td Excellent
                                    td.end
                                        img(src='https://img.shields.io/badge/HTML-E34F26?style=for-the-badge&logo=html5&logoColor=white' alt='HTML')
                                        img(src='https://img.shields.io/badge/JS-EFD81D?style=for-the-badge&logo=javascript&logoColor=000000' alt='JS')
                                tr
                                    td Good
                                    td.end
                                        img(src='https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=python&logoColor=white' alt='Python')
                                        img(src='https://img.shields.io/badge/CSS-1572B6?style=for-the-badge&logo=css3&logoColor=white' alt='CSS')
                                        img(src='https://img.shields.io/badge/C%23-239120?style=for-the-badge&logo=c+sharp&logoColor=white' alt='C#')
                                        img(src='https://img.shields.io/badge/Kotlin-7F52FF?style=for-the-badge&logo=Kotlin&logoColor=white' alt='Kotlin')
                                tr
                                    td Ok/Medium
                                    td.end
                                        img(src='https://img.shields.io/badge/Java-007396?style=for-the-badge&logo=java&logoColor=white' alt='Java')
                                        img(src='https://img.shields.io/badge/PHP-777BB4?style=for-the-badge&logo=php&logoColor=white' alt='PHP')
                                        img(src='https://img.shields.io/badge/PowerShell-5391FE?style=for-the-badge&logo=powershell&logoColor=white' alt='PowerShell')
                                        img(src='https://img.shields.io/badge/C%2B%2B-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=white' alt='C++')
                                        img(src='https://img.shields.io/badge/Godot-478CBF?style=for-the-badge&logo=Godot+Engine&logoColor=FFFFFF' alt='Godot')
                                tr
                                    td Poor
                                    td.end
                                        img(src='https://img.shields.io/badge/C-A8B9CC?style=for-the-badge&logo=c&logoColor=white' alt='C')
                                tr
                                    td Uhh what's this
                                    td.end
                                        img(src='https://img.shields.io/badge/Assembly-FFFFFF?style=for-the-badge' alt='Assembly')

            section#project
                .textwithtag
                    span.otag(aria-hidden="true") project
                    div
                        h1 Projects
                        hr
                        p Here's a list of projects or stuff that I've created. Most of them are dead, but not all of them. So check them out!
                        div
                            +collapsecontent("Web Applications")
                                +collapsecontent("Flappy Bird Clone")
                                    p Here is the <a target="_blank" href="/project/flappy_bird_clone/index.html">link to view the project</a>
                                    p Description: A basic prototype of the flappy bird clone that I made.
                                +collapsecontent("INBOSH (It has No name But it's Online SHell)")
                                    p Here is the <a target="_blank" href="/project/INBOSH/INBOSH.html">link to view the project</a>
                                    p Description: A working shell inside a browser, that can only run function and has some bug.
                                +collapsecontent("Demo for a panorama background")
                                    p Here is the <a target="_blank" href="/project/panorama/index.html">link to view the project</a>
                                    p Description: A demo for a panorama background that is fully written in JS (no plugin used).
                                +collapsecontent("SOOPE (Simple and Open-Source Online Picture Editor)")
                                    p Here is the <a target="_blank" href="/project/soope.html">link to view the project</a>
                                    p Description: A fully functional image editor inside browser (It even has dark mode too!).
                                +collapsecontent("WCOS (Web Console OS) [Dead]")
                                    p Here is the <a target="_blank" href="/project/MSDOS.html">link to view the project</a>
                                    p Description: My second attempt to create a shell (which is better then the previous attempt, but still, it's pretty bad).
                                +collapsecontent("WTOS (Web Terminal OS; Also know as: Console) [Dead]")
                                    p Here is the <a target="_blank" href="/project/console.html">link to view the project</a>
                                    p Description: My first attempt to create a shell (which is pretty bad).
                                +collapsecontent("Guess The Number Game [Dead]")
                                    p Here is the <a target="_blank" href="/project/numberguessgame.html">link to view the project</a>
                                    p Description: Pretty simple: Just Guess The Number.
                                +collapsecontent("Simple Captcha [Dead]")
                                    p Here is the <a target="_blank" href="/project/captcha.html">link to view the project</a>
                                    p Description: Something I make for something related to AI idk.
                                +collapsecontent("Vigenère Encoder and Decoder [Dead]")
                                    p Here is the <a target="_blank" href="/project/Vigenere_Cipher.html">link to view the project</a>
                                    p Description: A simple Vigenère Encoder and Decoder.

                            +collapsecontent("Native (Or run on the user computer) Applications")
                                +collapsecontent("Get Discord Message as JSON")
                                    p Here is the <a target="_blank" href="https://github.com/QuanMCPC/Get_Discord_MSG">link to the source code</a>
                                    p Description: A NodeJS project to get the chat message of any channels in any server/person as JSON data.
                                +collapsecontent("GTPL (Guess The Programming Language)")
                                    p Here is the <a target="_blank" href="https://github.com/QuanMCPC/QuanMCPC.github.io/blob/master/project/gtpl.py">link to the source code</a>
                                    p Description: A simple game written in Python and it's text-based where you have to guess the programming language of a piece of code.
                                +collapsecontent("MyFirstGame")
                                    p Here is the <a target="_blank" rel="noreferrer noopener" href="https://drive.google.com/u/0/uc?id=1sj2Uin_mRP0ipujgeWyR7B81frscRykn&export=download">link to all version as an ISO file</a>
                                    p Description: My very first game created in Unity where you eat chicken to get points and eat bomb to lose point and get shoot up to the sky.
                                +collapsecontent("Guess The Number Game")
                                    p Here is the <a target="_blank" href="https://github.com/QuanMCPC/NumberGuessingGame/">link to the source code</a>
                                    p Description: My second game written in C# where you guess a number with an Impossible Mode.
                                +collapsecontent("Windows Forms App 2.0 Unofficial")
                                    p Here is the <a target="_blank" href="https://github.com/QuanMCPC/Windows-Forms-App-2.0-Unofficial">link to the source code</a>
                                    p Description: A template for a more modern build-in Windows Forms.
                                +collapsecontent("EDIT (Edit Document In Terminal)")
                                    p Here is the <a target="_blank" href="https://github.com/QuanMCPC/Edit">link to the source code</a>
                                    p Description: A really ~OK~ text editor made with Electron with features like Auto Update.

                            +collapsecontent("Minecraft Builds")
                                +collapsecontent("8-bit Decoder")
                                    p Here is the <a target="_blank" href="https://www.planetminecraft.com/project/8-bit-decoder-in-minecraft/">link to the map on PM</a>
                                    p Description: Convert binary to character from A to Z, 0 to 9 in ASCII.
                                +collapsecontent("Compact Calculator (1.15.2)")
                                    p Here is the <a target="_blank" href="https://www.planetminecraft.com/project/compact-calculator-1-15-2/">link to the map on PM</a>
                                    p Description: A fully working calculator that can do basic calculation in Minecraft using command block.
                                +collapsecontent("The Longest Useless Machine in Minecraft (v1.0)")
                                    p Here is the <a target="_blank" href="https://www.planetminecraft.com/project/the-longest-useless-machine-in-minecraft-version-1-0/">link to the map on PM</a>
                                    p Description: A redstone contraption that is pretty useless.
                                +collapsecontent("The Longest Useless Machine in Minecraft (v1.2)")
                                    p Here is the <a target="_blank" href="https://www.planetminecraft.com/project/the-longest-useless-machine-in-minecraft-version-1-1/">link to the map on PM</a>
                                    p Description: An upgraded version of the 1.0 version.
                                +collapsecontent("Printer 1.16")
                                    p Here is the <a target="_blank" href="https://www.planetminecraft.com/project/printer-1-16/">link to the map on PM</a>
                                    p Description: A printer that can print stuff out using concrete instead of paper.
                                +collapsecontent("Security Vault 2.0")
                                    p Here is the <a target="_blank" href="https://www.planetminecraft.com/project/security-vault-2-0/">link to the map on PM</a>
                                    p Description: A very large vault to store and hide valuables.

                            +collapsecontent("Miscellaneous Project")
                                +collapsecontent("NoHistory - A Firefox Extension")
                                    p Here is the <a target="_blank" href="https://github.com/QuanMCPC/NoHistory/">link to the source code</a>
                                    p And here is the <a target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/nohistory/">link to the extension</a>
                                    p Description: An extension for Firefox to prevent web pages from getting saved from history without opening a private window.
                    span.ctag(aria-hidden="true") project

            section#website
                .textwithtag
                    span.otag(aria-hidden="true") website
                    div
                        h1 Website
                        hr
                        p And here is a list of websites that I own. All of this is run by me and is official. Some are currently active, while others are archived for historical purposes.
                        div
                            +collapsecontent("Code and Random Stuff Archive")
                                p Here is the <a target="_blank" href="https://quanmcpc.github.io/WebsiteArchive/">link to the website</a>
                                p Description: This is where I put random stuff like random project, unused code, etc.
                            +collapsecontent("My Carrd's site")
                                p Here is the <a target="_blank" href="https://quanmcpc.carrd.co/">link to the website</a>
                                p Description: A shortened version of my website.
                            +collapsecontent("My Blogsite")
                                p Here is the <a target="_blank" href="https://quanmcpc.github.io/Blogsite">link to the website</a>
                                p Description: This is my personal blog where I will be posting about stuff.
                            +collapsecontent("\"First Commit\"")
                                p Here is the <a target="_blank" href="https://quan215.github.io">link to the website</a>
                                p Description: The first ever version of this website so you can see how much I've improved over the last (insert_current_year) - 2020 + "years".
                    span.ctag(aria-hidden="true") website

            section#gift.st-rightleft
                div
                    .left.textwithtag
                        span.otag(aria-hidden="true") gift good-item="<del>false</del> true"
                        div
                            h1 Thank You
                            hr
                            p I don't know if you have visited everything on my website, only some of it, or just going by. But anyway, thanks for visiting my website. And to show off my appreciation, here's a gift for you. I promise you won't regret it :)
                        span.ctag(aria-hidden="true") gift
                    .right
                        noscript
                            style.
                                div#claim_gift_div { display: none !important; }
                            #noscript_object
                                p Error: We can't give you the gift because it requires JavaScript to work, which you have turned off.
                        #gift_flashbang
                        #gift_display
                            #gift_thatsmygift_dialog
                                p
                            p Congratulation! You got:
                            .gift_item#gift_item_1
                                img(src="./website/image/home_page/gift_100_bill.svg", alt="$100 bill")
                                p $100 bill
                            .gift_item#gift_item_2
                                img(src="./website/image/home_page/gift_flappy_bird.svg", alt="Flapping bird")
                                p A flapping bird
                            .gift_item#gift_item_3
                                img(src="./website/image/home_page/gift_sublime_text_license_key.svg", alt="Sublime Text License Key")
                                p Sublime Text License key
                            .gift_item#gift_item_4
                                p Nothing
                        #claim_gift_div
                            button#claim_gift(aria-label="The Present")
                                img(src="./website/image/home_page/gift.svg", alt="The Present")

        include template/_footer.pug
        script(src="/website/script/home_page/home.js")