html(lang="en")
    head
        //- Слава Україні
        include template/_head_metadata.pug

        meta(property="og:url", content="https://quanmcpc.github.io/")
        meta(property="og:title", content="Quan_MCPC's Website")
        meta(property="og:description", content="My personal website / Trang web của tôi / Мій особистий веб-сайт")
        meta(name="description", content="My personal website / Trang web của tôi / Мій особистий веб-сайт")

        link(rel="stylesheet", href="/website/style/index_page/index.css")
        script(src="/website/script/index_page/index.js" defer)
        title QuanMCPC

    body(data-js="false")
        a(rel="me" href="https://mastodon.world/@quanmcpc" aria-hidden="true") //- For verification
        include template/_preload.pug
        include template/_noscript.pug
        .dialog: div
            h1 QuanMCPC's Website
            h2 Captcha Test
            p Due to the sudden increase in traffic (around five visits per day), I have implemented a captcha check to ensure only humans can enter. Please solve the captcha to enter the website.
            p.notice_captcha_js: b (Captcha has been disabled! Yay for the robots!)
            .captcha_test(data-captcha-id="gotowebsitecheck")
                .captcha_checkbox
                    label.checkbox_container
                        input(type="checkbox")
                        span.checkbox_checkmark
                .captcha_text
                    p i no robot, i human
            a(href="home.html" class="captcha_submit" data-submit-id="gotowebsitecheck") Submit
