html(lang="en")
    head
        //- Слава Україні
        include template/_pmod_head_metadata.pug

        meta(property="og:url", content="https://sudoku0.github.io/")
        meta(property="og:title", content="sudoku0's Website")
        meta(property="og:description", content="My personal website / Trang web của tôi / Мій особистий веб-сайт")
        meta(name="description", content="My personal website / Trang web của tôi / Мій особистий веб-сайт")

        link(rel="stylesheet", href="/website/style/index_page/index.css")
        script(src="/website/script/index_page/index.js" defer)
        title sudoku0

    body(data-js="false")
        //- For verification
        a(rel="me" href="https://mastodon.world/@sudoku0" aria-hidden="true")
        include template/_pmod_preload.pug
        include template/_pmod_noscript.pug
        .dialog: div
            h1 sudoku0's Website
            h2 Captcha Test
            p Due to the sudden increase in traffic (around five visits per day), I have implemented a captcha check to ensure only humans can enter. Please solve the captcha to enter the website.
            p.notice_captcha_js: b (unable to detect javascript, captcha has been disabled)
            .captcha_test(data-captcha-id="gotowebsitecheck")
                .captcha_checkbox
                    label.checkbox_container
                        input(type="checkbox")
                        span.checkbox_checkmark
                .captcha_text
                    p i no robot, i human
            a(href="home.html" class="captcha_submit" data-submit-id="gotowebsitecheck") Submit
