@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url(website/font/Raleway-Medium.ttf);
  font-display: fallback;
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(website/font/Raleway-Medium.ttf);
  font-display: fallback;
}
h1 {
	font-family: Raleway;
	font-weight: 500;
}
p, h2, h3, h4, a, label {
	font-family: Raleway;
	font-weight: 600;
}
body {
  overflow-y: scroll;
}