html(lang="en")
    head
        include template/_pmod_head_metadata.pug

        meta(property="og:url", content="/home.html")
        meta(property="og:title", content="sudoku0.project()")
        meta(property="og:description", content="List of my projects")
        meta(name="description", content="List of my projects")

        link(rel="stylesheet", href="/website/style/project_page/project.css")
        script(src="/website/script/project_page/project.js" defer)
        title sudoku0.project()

    body(data-js="false")
        include template/_pmod_preload.pug
        include template/_pmod_mixins.pug
        include template/_pmod_header.pug
        main
            include template/_pmod_noscript.pug

            section#notable_project.nost: +textwithtag("notable-projects")
                h1 Notable projects
                hr
                p #[span.tc-purple List of projects] that I'm proud of. Be sure to check them out, and also #[span.tc-green the rest of my project] below!
                div
                    +collapsecontent("April Fools 2023: DPRK VPN", "notable")
                        p Here is the #[a(target="_blank" href="/project.dprk-vpn/index.html") link to view the project]
                        p Description: A VPN which allow you to browse the best Internet created by the DPRK.
                    +collapsecontent("Guess The GIF", "notable")
                        p Here is the #[a(target="_blank" href="/project.guess-the-gif/index.html") link to view the project]
                        p Description: A game about guessing GIF (or JIF i guess)
                    +collapsecontent("Dead Chat Tracker (DCT) - A Discord Bot", "notable")
                        p Here is the #[a(target="_blank" href="https://github.com/sudoku0/project.discord-dead-chat-bot.bot") link to the source code]
                        p Description: A Discord bot made for only one purpose, and that is to track how long the channels of a server has died.

            section#project.nost: +textwithtag("projects")
                h1 Projects
                hr
                p Here's the #[span.tc-purple list of projects] that I've created
                p#number_of_projects.use_js Number of projects: $_num_of_projects
                div
                    +collapsecontent("Web")
                        +collapsecontent("April Fools 2023: DPRK VPN", "project notable")
                            p Here is the #[a(target="_blank" href="/project.dprk-vpn/index.html") link to view the project]
                            p Description: A VPN which allow you to browse the best Internet created by the DPRK.
                        +collapsecontent("Guess The GIF", "project notable")
                            p Here is the #[a(target="_blank" href="/project.guess-the-gif/index.html") link to view the project]
                            p Description: A game about guessing GIF (or JIF i guess)
                        +collapsecontent("No \"Nutella\" November Challenge Tracker", "project")
                            p Here is the #[a(target="_blank" href="/project.anti-nutella-challange/index.html") link to view the project]
                            p Description: A progress tracker for the "November" Challenge
                        +collapsecontent("Flappy Bird Clone", "project")
                            p Here is the #[a(target="_blank" href="/project.flappy-bird-clone/index.html") link to view the project]
                            p Description: A basic prototype of the flappy bird clone that I made.
                        +collapsecontent("INBOSH (It has No name But it's Online SHell)", "project")
                            p Here is the #[a(target="_blank" href="/project.INBOSH/INBOSH.html") link to view the project]
                            p Description: A working shell inside a browser, that can only run function and has some bug.
                        +collapsecontent("Demo for a panorama background", "project")
                            p Here is the #[a(target="_blank" href="/project.panorama-demo/index.html") link to view the project]
                            p Description: A demo for a panorama background that is fully writ`ten in JS (no plugin used).
                        +collapsecontent("SOOPE (Simple and Open-Source Online Picture Editor)", "project")
                            p Here is the #[a(target="_blank" href="/classic-project/soope.html") link to view the project]
                            p Description: A fully functional image editor inside browser (It even has dark mode too!).
                        +collapsecontent("WCOS (Web Console OS)", "project")
                            p Here is the #[a(target="_blank" href="/classic-project/MSDOS.html") link to view the project]
                            p Description: My second attempt to create a shell (which is better then the previous attempt, but still, it's pretty bad).
                        +collapsecontent("WTOS (Web Terminal OS; Also know as: Console)", "project")
                            p Here is the #[a(target="_blank" href="/classic-project/console.html") link to view the project]
                            p Description: My first attempt to create a shell (which is pretty bad).
                        +collapsecontent("Guess The Number Game", "project")
                            p Here is the #[a(target="_blank" href="/classic-project/numberguessgame.html") link to view the project]
                            p Description: Pretty simple: Just Guess The Number.
                        +collapsecontent("Simple Captcha", "project")
                            p Here is the #[a(target="_blank" href="/classic-project/captcha.html") link to view the project]
                            p Description: Something I make for something related to AI idk.
                        +collapsecontent("Vigenère Encoder and Decoder", "project")
                            p Here is the #[a(target="_blank" href="/classic-project/Vigenere_Cipher.html") link to view the project]
                            p Description: A simple Vigenère Encoder and Decoder.

                    +collapsecontent("Game")
                        +collapsecontent("Bouncy Beam", "project")
                            p Here is the #[a(target="_blank" href="https://github.com/sudoku0/Bouncy-Beam") link to the source code]
                            p And here's the #[a(target="_blank" href="https://sudoku0.itch.io/bouncy-beam") link to the game]
                            p Description: My third game about laser where you need to place mirror to make sure the laser hit the target while avoiding obstruction.
                        +collapsecontent("Guess The Number Game", "project")
                            p Here is the #[a(target="_blank" href="https://github.com/sudoku0/NumberGuessingGame/") link to the source code]
                            p Description: My second game written in C# where you guess a number with an Impossible Mode.
                        +collapsecontent("MyFirstGame", "project")
                            p Here is the #[a(target="_blank" href="https://drive.google.com/u/0/uc?id=1sj2Uin_mRP0ipujgeWyR7B81frscRykn&export=download") link to all version as an ISO file]
                            p Description: My very first game created in Unity where you eat chicken to get points and eat bomb to lose point and get shoot up to the sky.

                    +collapsecontent("Program")
                        +collapsecontent("Dead Chat Tracker (DCT) - A Discord Bot", "project notable")
                            p Here is the #[a(target="_blank" href="https://github.com/sudoku0/project.discord-dead-chat-bot.bot") link to the source code]
                            p Description: A Discord bot made for only one purpose, and that is to track how long the channels of a server has died.
                        +collapsecontent("Better Tuxedo Keyboard Backlight Controller", "project")
                            p Here is the #[a(target="_blank" href="https://github.com/sudoku0/TuxedoBacklightController") link to the source code]
                            p Description: A program which allow user to change their keyboard backlight color, as long as they have the Tuxedo/Clevo compatible keyboard and appropriate #[a(target="_blank" href="https://github.com/tuxedocomputers/tuxedo-keyboard") kernal modules].
                        +collapsecontent("Get Discord Message as JSON", "project")
                            p Here is the #[a(target="_blank" href="https://github.com/sudoku0/Get_Discord_MSG") link to the source code]
                            p Description: A NodeJS project to get the chat message of any channels in any server/person as JSON data.
                        +collapsecontent("GTPL (Guess The Programming Language)", "project")
                            p Here is the #[a(target="_blank" href="https://github.com/sudoku0/sudoku0.github.io/blob/master/random-project/gtpl.py") link to the source code]
                            p Description: A simple game written in Python and it's text-based where you have to guess the programming language of a piece of code.
                        +collapsecontent("Windows Forms App 2.0 Unofficial", "project")
                            p Here is the #[a(target="_blank" href="https://github.com/sudoku0/Windows-Forms-App-2.0-Unofficial") link to the source code]
                            p Description: A template for a more modern build-in Windows Forms.
                        +collapsecontent("EDIT (Edit Document In Terminal)", "project")
                            p Here is the #[a(target="_blank" href="https://github.com/sudoku0/Edit") link to the source code]
                            p Description: A really ~OK~ text editor made with Electron with features like Auto Update.

                    +collapsecontent("Minecraft Build")
                        +collapsecontent("8-bit Decoder", "project")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/8-bit-decoder-in-minecraft/") link to the map on PM]
                            p Description: Convert binary to character from A to Z, 0 to 9 in ASCII.
                        +collapsecontent("Compact Calculator (1.15.2)", "project")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/compact-calculator-1-15-2/") link to the map on PM]
                            p Description: A fully working calculator that can do basic calculation in Minecraft using command block.
                        +collapsecontent("The Longest Useless Machine in Minecraft (v1.0)", "project")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/the-longest-useless-machine-in-minecraft-version-1-0/") link to the map on PM]
                            p Description: A redstone contraption that is pretty useless.
                        +collapsecontent("The Longest Useless Machine in Minecraft (v1.2)", "project")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/the-longest-useless-machine-in-minecraft-version-1-1/") link to the map on PM]
                            p Description: An upgraded version of the 1.0 version.
                        +collapsecontent("Printer 1.16", "project")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/printer-1-16/") link to the map on PM]
                            p Description: A printer that can print stuff out using concrete instead of paper.
                        +collapsecontent("Security Vault 2.0", "project")
                            p Here is the #[a(target="_blank" href="https://www.planetminecraft.com/project/security-vault-2-0/") link to the map on PM]
                            p Description: A very large vault to store and hide valuables.

                    +collapsecontent("Miscellaneous Project")
                        +collapsecontent("NoHistory - A Firefox Extension", "project")
                            p Here is the #[a(target="_blank" href="https://github.com/sudoku0/NoHistory/") link to the source code]
                            p And here is the #[a(target="_blank" href="https://addons.mozilla.org/en-US/firefox/addon/nohistory/") link to the extension]
                            p Description: An extension for Firefox to prevent web pages from getting saved from history without opening a private window.

        include template/_pmod_footer.pug
