html(lang='en')
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(property="og:type", content="website")

        link(rel="stylesheet", href="./style/style.css")
        script(src="./script/script.js" defer)

        title Text to The Periodic Table

    body
        h1 Text to The Periodic Table (under construction) (partial project)
        h3 Convert character(s) from the text you input to elements from The Periodic Table
        div#user_input(contenteditable)
        pre#test

