:root {
    --bg: #ffffff;
    --fg: #000000;
    --active: #5a5a5a;
    --font: 'Source Code Pro', monospace;
}

[data-hidden=true] {
    display: none !important;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    max-width: 1000px;
    display: block;
    padding: 0 16px;
    margin: 16px auto;

    background-color: var(--bg);
}

button {
    border: 2px solid var(--fg);
    background-color: var(--bg);
    font-size: 1.2rem;
    padding: 8px 16px;
    font-family: var(--font);
    &, * {
        transition: all 0.2s;
    }

    &:focus, &:hover {
        cursor: pointer;
        filter: invert(1);
        //background-color: var(--fg);
        //color: var(--bg);
    }

    &:active {
        background-color: var(--active);
        border-color: var(--active);
    }

    &.select_button {
        font-size: 1em;
        display: flex;
        flex-direction: row-reverse;
        gap: 8px;
        justify-content: left;
        align-items: center;
        overflow-wrap: anywhere;
        text-align: left;

        .selector {
            min-width: 1em;
            width: 1em;
            height: 1em;
            border: 3px solid var(--fg);
            background-color: var(--fg);

            &[data-selected=true] {
                background-color: var(--bg);
            }
        }
    }
}

div#list_of_tags {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    justify-content: center;
}

div#next_wrapper {
    display: flex;
    gap: 16px;
}

div[data-id="game_board"] {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

div#display_info {
    display: flex;
    flex-flow: wrap;
    gap: 0 96px;
    margin: 0 auto;
    justify-content: center;
}

div#display_image {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

label.custom_text_input {
    input.custom_input {
        margin-top: 0.25em;
    }    
}

input.custom_input {
    display: block;
    border: 2px solid var(--fg);
    background-color: var(--bg);
    margin: 1em 0;
    font-size: 1.25em;
    font-family: var(--font);

    &#api_key {
        width: 100%;
    }
}

img#gif_image {
    max-width: 100%;
}
