@import "../_variables.scss";

body {
    font-size: 1.25rem;

    &[data-js=false] {
        p#running, a#redirect {
            display: block !important;
        }

        .label {
            width: 100%;
            opacity: 1;
        }
    }

    &[data-js=true] {
        code.fallback {
            display: none;
        }
    }
}

.hidden {
    display: none !important;
}

a.verification {
    display: none;
}

@keyframes blinking {
    from, to {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

pre#codeblock {
    font-weight: normal;
    padding: 16px;
    margin: 0;
    word-wrap: break-word;

    code {
        white-space: pre-wrap;
    }
}

#console  {
    padding: 16px;
    padding-top: 0;
}

span.cursor {
    animation: blinking 1s step-end infinite;
}

a {
    width: fit-content;
    display: block;
    border: 2px solid var(--color-fg);
    font-size: 1.25rem;
    background-color: var(--color-bg);
    color: var(--color-fg);
    padding: 8px 12px;
    transition: all 0.2s;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        background-color: var(--color-fg);
        color: var(--color-bg);
    }
}

.label {
    width: 0%;
    opacity: 0;
    background-color: var(--color-fg);
    color: var(--color-bg);
    margin: 16px 0;
    padding: 8px;
    transition: all 0.4s;

    &.nohide {
        width: 100%;
        opacity: 1;
    }
}

@media (max-width: 600px) {
    body {
        font-size: 1rem;
    }
}