+section("footer", "footer", "fastfetch")
    .card
        .fallback_no_js: p #[span.highlight-cyan guest@unknown]
        p.use_js #[span.highlight-cyan guest @$_hostname]
        p ------------------
        p #[span.highlight-red Version]: #[a(href="https://github.com/" + self.gh_repo + "/tree/" + self.gh_version) #{self.gh_version.substring(0, 8)}] (compiled on: #{self.updated_on})
        p #[span.highlight-red Hosted on]: #[a(href="https://github.com/" + self.gh_repo) #{self.gh_repo}]
        p #[span.highlight-red Workflow ID]: #[a(href="https://github.com/" + self.gh_repo + "/actions/runs/" + self.gh_workflow) #{self.gh_workflow}]
        p.use_js #[span.highlight-red Uptime]: $_day
        p.use_js #[span.highlight-red Shell]: $_reported_browser
        p.use_js #[span.highlight-red Resolution]: $_reported_resolution
        p.use_js ------------------
        p 2024 sudoker0 (QuanMCPC). Created on 07/16/2020, this website will live #[span.highlight-red forever].
        .label-container
            a.label-link(target='_blank', href='https://github.com/sudoker0/sudoker0.github.io')
                img.label(src='./website/image/label/source_on_github.svg', alt='Source on GitHub')
            img.label(src='./website/image/label/work_without_javascript.svg', alt='Work without JavaScript')
            img.label(src='./website/image/label/3_years_of_service.svg', alt='4 years of service')
            // img.label(src='./website/image/label/certified_preschooler.svg', alt='Certified Preschooler')
        details
            summary For licensing info
            div
                ul
                    li: p Source code of the website is licensed under the #[span.highlight-blue MIT license]
                    li: p Images in the website are licensed under #[a(href='http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1', target='_blank', rel='license noopener noreferrer', style='display:inline-block;') CC BY-SA 4.0]
                    li: p Materials that are under different license will be listed in the #[span.highlight-red CREDITS.md] file.