header
    nav.navbar#navbar
        a#website_logo(href="/index.html")
            img(src="/website/image/logo/logo.svg", alt="Website's logo")
        input#open_navbar_dropdown(type="checkbox", name="open_navbar_dropdown", title="Navigation link dropdown")
        div.navbar_button
            label(for="open_navbar_dropdown",  title="Navigation link dropdown")
                svg#dropdown_icon(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewBox='0 0 16 16', shape-rendering='geometricPrecision', text-rendering='geometricPrecision', width='32', height='32')
                    style.
                        :root{--dd_ico_anim_dur: .2s}svg#dropdown_icon *{transition:transform var(--dd_ico_anim_dur),opacity var(--dd_ico_anim_dur)}#dd_ico_p1{transform:translate(8px,3.5px) rotate(0deg)}#dd_ico_p2{transform:translate(8px,7.5px);opacity:1}#dd_ico_p3{transform:translate(8px,11.5px) rotate(0deg)}
                    g#dd_ico_p1
                        g(transform='rotate(0)')
                        path(d='M2.5,3.5c0-.276142.223858-.5.5-.5h10c.276142,0,.5.223858.5.5s-.223858.5-.5.5L3,4c-.276142,0-.5-.223858-.5-.5Z', transform='translate(-8,-3.5)')
                    g#dd_ico_p2
                        path(d='M2.5,7.5c0-.276142.223858-.5.5-.5h10c.276142,0,.5.223858.5.5s-.223858.5-.5.5L3,8c-.276142,0-.5-.223858-.5-.5Z', transform='translate(-8,-7.5)')
                    g#dd_ico_p3
                        g(transform='rotate(0)')
                        path(d='M2.5,11.5c0-.276142.223858-.5.5-.5h10c.276142,0,.5.223858.5.5s-.223858.5-.5.5h-10c-.276142,0-.5-.223858-.5-.5Z', transform='translate(-8,-11.5)')
        div.navbar_link
            a(href="/home.html") .home()
            a(href="/project.html") .project()
            a(href="/social_link.html") .social_link()