@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Source Code Pro";
    src: url("../fonts/SourceCodePro-Regular.ttf");
}

@font-face {
    font-family: "Ubuntu Mono";
    src: url("../fonts/UbuntuMono-Regular.ttf");
}

:root {
    --green: #00a800;
    --red: #be0000;
    --red-opaque: #910000;
    --background: white;
    --foreground: black;
    --progress-bar-fg-color: black;
    --progress-bar-bg-color: gray;
    --progress-bar-indicator: white;
    .dark_mode {
        --green: #00cc00;
        --red: #d10000;
        --red-opaque: #570000;
        --background: black;
        --foreground: white;
        --progress-bar-fg-color: black;
        --progress-bar-bg-color: gray;
        --progress-bar-indicator: white;
    }
}

.reverse {
    color: var(--background);
    background-color: var(--foreground);
}

.green { color: var(--green) }
.red{ color: var(--red) }

* {
    box-sizing: border-box;
    font-family: "Source Code Pro", 'Courier New', Courier, monospace;
}

body {
    word-wrap: anywhere;
    color: var(--foreground);
    background-color: var(--background);
    font-size: 1.25rem;
    padding: 16px;
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}

h1 {
    font-size: 2.5rem;
}

div.display_time {
    p {
        font-size: 2.5rem;
        margin: 16px 0;
    }
    width: 100%;
    display: block;
    margin: 0 auto;
}

div.progress_bar {
    height: 24px;
    width: 100%;
    position: relative;
    margin: 16px 0;
    background-color: var(--progress-bar-bg-color);
    .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 10px;
        text-overflow: ellipsis;
        width: calc(100% - 2px);
        overflow: hidden;
        white-space: nowrap;
        color: var(--progress-bar-fg-color);
    }
    .indicator {
        background-color: var(--progress-bar-indicator);
        width: 100%;
        height: 24px;
        position: static;
        transition: width 1s;
    }
}

[data-hidden=true] {
    display: none;
}

hr {
    background-color: var(--foreground);
    border: 2px solid var(--foreground);
}

@media (max-width: 800px) {
    h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
    div.display_time p {
        font-size: 1.5rem;
    }
    div.full_screen_error
        .centered_content
        .error_icon img {
        width: 64px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5rem;
    }
}

.full_screen_error {
    display: none;
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    //display: grid;
    justify-content: center;
    align-items: center;
    padding: 16px;

    .centered_content {
        h1, p {
            margin: 0;
        }
        display: grid;
        grid-gap: 16px;
        gap: 16px;
        grid-template-areas:
            "icon title"
            "icon content";
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        width: fit-content;
        max-width: 1200px;

        .error_icon {
            grid-area: icon;
            img {
                width: 128px;
            }
        }

        .error_title {
            grid-area: title;
        }

        .error_content {
            grid-area: content;
        }
    }

    background-color: var(--red-opaque);
    //display: none;
    &[data-hidden=false]{
        display: flex;
    }
}
