html(lang="en")
    head
        //- Слава Україні
        include template/_pmod_head_metadata.pug
        +og_generator("sudoker0", "const website = new sudoker0.website()", "https://sudoker0.github.io/")

        link(rel="stylesheet", href="/website/style/index_page/index.css")
        script(src="/website/script/index_page/index.js" defer)

    body(data-js="false")
        //- For verification
        a.verification(rel="me" href="https://mastodon.world/@quanmcpc" aria-hidden="true")
        include template/_pmod_preload.pug
        include template/_pmod_noscript.pug

        #text_container
            p
            #shadow
            img(src="website/image/logo/logo_transparent.svg", alt="logo")
            #noscript_fallback
                a(href="/home.html") [redirect to main page]

        #credit
            p design heavily inspired from #[a(href="https://codepen.io/Hyperplexed/pen/VwqLQbo") this codepen]