html(lang="en")
    head
        include template/_pmod_head_metadata.pug
        +og_generator("sudoker0.social_link()", "Social link", "/social_link.html")

        link(rel="stylesheet", href="/website/style/social_link_page/social_link.css")
        script(src="/website/script/social_link_page/social_link.js" defer)

    body(data-js="false")
        include template/_pmod_preload.pug
        include template/_pmod_mixins.pug
        include template/_pmod_header.pug
        mixin social_link_item(social_website, link, account_name)
            a.social_link_item(target="_blank" href=link)
                .social_item_image
                    img(src="/website/image/contact_page/" + social_website + ".svg", alt=social_website)
                .social_item_text
                    span.social_item_explain="[" + social_website + "]"
                    br
                    span=account_name

        main
            include template/_pmod_noscript.pug

            section#social_link.nost: +textwithtag("social_link")
                h1 Social Link
                hr
                .social_link_grid
                    +social_link_item("discord", "https://discord.com/users/763377551963717653", "sudoker0")
                    +social_link_item("revolt.chat", "#", "sudoker0#3948")
                    +social_link_item("github", "https://github.com/sudoker0", "sudoker0")
                    +social_link_item("gitlab", "https://gitlab.com/sudoker0", "sudoker0")
                    +social_link_item("steam", "https://steamcommunity.com/id/sudoker0/", "sudoker0")
                    +social_link_item("itch.io", "https://sudoker0.itch.io", "sudoker0.itch.io")
                    +social_link_item("mastodon", "https://mastodon.world/@quanmcpc", "@QuanMCPC")
                    +social_link_item("planet_minecraft", "https://www.planetminecraft.com/member/sudoker0/", "sudoker0")
                    +social_link_item("twitter", "https://twitter.com/sudoker0", "@sudoker0")

            section#email.nost: +textwithtag("email")
                h1 Email
                hr
                p My email address: #[a(href="mailto:sudoker0@disroot.org") sudoker0@disroot.org]
                p GPG key for the email address:
                textarea(rows="10", style="width: 100%; resize: vertical;", readonly)
                    | -----BEGIN PGP PUBLIC KEY BLOCK-----
                    |
                    | mQINBGTq+REBEACuOToJO1Asv1OkNE53Dk4M60rN9C6MoYS7jEowe2PgCdivwhVR
                    | 0LvEdWt0zQcVmSP/XiE1vBLvxbbNgLad1lcWQN92INfLpHCBg+48AFUMYARJ4DbM
                    | QBW+8wMQ/mlXveYmwo0LlxuWicF75+inRFjF5S02zXUx/JYgsfdD8vPAz1XVim2C
                    | R8tXUfNPIWlKgfT9DQCFjIe4BpYUmD+Bas9Qc+Qy/4V72KH4zD1HsTGrwi5VL5Ir
                    | /I65GZ6Ws7rt+jNtaoNomhuK5uyEY3XVeenoWR6WkZSpOjUt8Cbez3n5/SJKtzna
                    | ZTA5ge5aNoMexOD6vzIwhnbSZwmK12dUIC+S1M5m6LByyGgLgX6vWqtdt77QnCBM
                    | xGZpiT0gyyykrc8FmLceHe7TXwOUHCWf2mSrpvou2Zc9ssZH3yuJL8DAfgtAH1MC
                    | 8aieB71nynyy7H0IXhF2Rb7YWCkyFLzgWZ0j3qVfFwFSGvIVGPXPIsi+TN8M2TZJ
                    | ASjtD9yBfUunRCUfnbvv2v/xQcH8tUNATt3ZrEnDx3+fqhj4CcYlGo6klCoUH7xc
                    | 04X1XCXMertQrUJ0RNt+8Ck4aBl+GxX1Et75nWjIuyxFXB2TeVDLyjye8zFR18+T
                    | 6qgWvrYtnNIu+18ENdYvjArrSE2m8zfdF1FDAqEHZ/QDk2fjBYYkfAynyQARAQAB
                    | tCdzdWRva2VyMC1kaXNyb290IDxzdWRva2VyMEBkaXNyb290Lm9yZz6JAk4EEwEK
                    | ADgWIQQtiyZCVlYbRLCZvA5ma8pul4SsDgUCZOr5EQIbAwULCQgHAgYVCgkICwIE
                    | FgIDAQIeAQIXgAAKCRBma8pul4SsDnIgEACmDwKsZGnyiiMI/cxBTfKgzgkEvFnN
                    | xbF7LJS4Z2eZ1tp1H2y85V8iXzOLZPpnKdJpUxyxNrTMIhLhYh8/jnZ1xIhEH1/+
                    | 5gJSbk4vQB1Eq00YL2v9JTOu5tinavorhDUAhnR3uuMRiLBhPTYgCEhtZKTvNobH
                    | Pe2jVFOcUZFTw4A0oHWW5YBVo3/5Ud3G2QDU0emwSEu2RZbBTG1dota2uKMahLGQ
                    | xv1BsnnNwRljxV7mrSMk5widJPNMBp+LwMNgP5ny0abiAJuOjFP/RMkirdmwgqf8
                    | 1qyTAawGF3f4NVRw+wx8wxmlmtZ3HWLKpsYgt5Jla9Z46qw2paW4TP2FdOMoG3pH
                    | IGKFWEKESkcZOr7NaQSAShDbm7n5+/pWhMTetPovqi5evp0fvT/1N+2urmu3f9qK
                    | 7D7Vpd7vRGYAy7X8gty/Z7ZDdNRVORo1eZvJ2RDcGYr12gQzWNzry3pIifIEmCNV
                    | Rt8o7OOPDKlLvbpHosOsND6m4nrpqpGsMZ+SxDIEJc71z4cP+iTyBF0xnu5jKSJX
                    | uf59tmnEdPjIIiim4Sn7l1oa5mL4KcndzK0n9kxFsFU+l6RMebTaj3NzyhAe8QRP
                    | UcnbAlyY4md2tJQbGrzEDGwC8sDLGmkXlTb+2sWbmJnJLPpI7l7+Z6xx9cshnH7q
                    | QdsDy8d7JIBPHrkCDQRk6vkRARAAsqj0Po1SQe9TXqwZN1W5cX/duQ75B20wVuLY
                    | t/iYMk3CYwIzX3iWKWwiuDE7lP+JyY07+fADj1JmvkpH/pLMPHHu9zm1V+xf5PkM
                    | b+NefjDY4YKXanx9qTBvc17lROMHNMkTXa6hpHdEDGN4dMGmgmsgK+YvEe+Ehh5t
                    | GXzlUQ25guJAayUxoHUSmEVeKdiCShnFZoqmvci5GZiz9m+eA4NaxLl9nuDkrihP
                    | CubPXMRsD0n+1XDIE+JAy5fE7hbufpruenplHWmH7Qy8YBj8okvCkxlWDnA6RvPN
                    | ID6yX1mG2rwVaT7S1T1r2+hBah1z73OiAi+0jyrn+sD9h9x1Dk2zO2kPWh0BUQNk
                    | 4qHbqb5Wbxukk8W/2XOz/UVG0ZcFq0PLjNeU7fVblZsW2FHqf9Vmb7zh5kYjHVV3
                    | qPStnksr5arIX9IBl/ELM8NSP9U9KthDyjiBqdjM7IE33/EBvH53kjv4NBtjj9vh
                    | wIb4x2BZZNg9eq62UoZ3YSeRUkZmXzwCsQob4tBKuLCHIR5KleWlx5RMt/Q8T5wR
                    | 5hdwnzJH6WOnRU/nj1bg4GWaY3rIrP1dg61KZnfKEN8LfXSiPI1y92xzXzS3yK66
                    | UxYGx/vanlBsMNBEXQot12xri2nb8Br8gu5WygefXimGQsaCCDmX/n1ARX6SVPcr
                    | dfH+sxUAEQEAAYkCNgQYAQoAIBYhBC2LJkJWVhtEsJm8DmZrym6XhKwOBQJk6vkR
                    | AhsMAAoJEGZrym6XhKwOsMMP/j+PAJmja0JFttyUft/Jpsg7I4BoHk5nFf1F7sfI
                    | +0eTyL3L0XFnL7y1mKyOYvWQwD86kmG8rPwu4gPo7mql1gyC5dqcSWB4+RIazL+V
                    | P9p6f9pkH2CzPVY+AqZCJt1+w+hiKjqBztbq0z//O26dX4S3TgUo19XajvPRbyVA
                    | iaSmwWH3yGsOjlk/FTwUUXC0KpYMQKQQGonoFcwqcH5oMsQXitea0KU5rjAxLGR2
                    | I+6pqidIeOuHyh6WbZLjnPc5X8E4WN4HP9QllJLgyzTMznR+KThOIpmM3iLB0jya
                    | ugtN5IarRSdYJFzV7yK43lGtiNfy4RFqEyb/j+BvNy+Ondd2CHqG6zXBHB9NGMBO
                    | LPAJIap7KrwY14HQkeIbcwFXZ2dDqyqkny23YrAD7dIZCWIZOGa+05jGvIoiR0D6
                    | oKLNqh3HOx+P+iwjfvUbFvSKl2uAfKRgUfAyfj4zZHEluaLz/Nb4XqnY6WsFUoft
                    | jUhuzA4FTVsg9HHjsHCOGx1pxtoij4niRH6hUvB6E0vw5yD6DfnEJTw9+p3Zj+7T
                    | uFpjDJkX7GxK6XNYtyE7ampGSfqUoaqNZ7w2wPuotR21RRvd9X7g8YrW+ckI0VU4
                    | tnH0wBDcfCo/HZkmFmDCK6YvwQHg/lDp+OyHzAJ+OTP37wQS4ry56dyDwEyDdd/m
                    | z2mH
                    | =aWVQ
                    | -----END PGP PUBLIC KEY BLOCK-----

        include template/_pmod_footer.pug
